body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.table-row {
  display: flex;
  flex-direction: row;
}

.square {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E8E8E8;
}

.game-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.unclicked {
  background-color: #D8D8D8;
}
