body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.pointer {
  cursor: pointer;
}

.degree-select {
  height: 40px;
  font-size: 32px;
  position: absolute;
  right: 12px;
  top: 12px;
}

.help {
  font-size: 32px;
  position: absolute;
  right: 12px;
  bottom: 12px;
  text-decoration: none;
}

.table-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
}

.table-row {
  display: flex;
  flex-direction: row;
}

.square {
  height: 32px;
  width: 32px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E8E8E8;
  margin: 1px;
  cursor: pointer;
}

.game-reset-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 3rem 0 1rem;
  font-size: 32px;
}

.game-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem;
  font-size: 24px;
}

.display {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.refresh {
  padding-left: 0.5rem;
}

.unflipped {
  background-color: #D8D8D8;
}

.unflipped:hover {
  background-color: #C8C8C8;
}

.unflipped:active {
  background-color: #B8B8B8;
}
