body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.pointer {
  cursor: pointer;
}

.table-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
}

.table-row {
  display: flex;
  flex-direction: row;
}

.square {
  height: 32px;
  width: 32px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E8E8E8;
  margin: 1px;
  cursor: pointer;
}

.game-reset-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1.5rem 0 0.5rem;
}

.game-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5rem;
}

.display {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.refresh {
   padding-left: 0.25rem;
}

.unclicked {
  background-color: #D8D8D8;
}

.unclicked:hover {
  background-color: #C8C8C8;
}

.unclicked:active {
  background-color: #B8B8B8;
}
